# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
target
.DS_Store
archetypes/.DS_Store
archetypes/client/_APPNAME_/platforms/web/bower_components/
archetypes/client/_APPNAME_/platforms/web/node_modules/
archetypes/client/_APPNAME_/node_modules/
archetypes/client/_APPNAME_/platforms/web/resources/images/
archetypes/client/_APPNAME_/platforms/web/resources/css/
archetypes/client/_APPNAME_/platforms/web/assets/app.js

.idea
