# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
target
/.idea/
.DS_Store
archetypes/.DS_Store
archetypes/client/platforms/web/assets/js/app.js
archetypes/client/platforms/web/resources/css/