Gentile ${mail}<br/><br/>


Di seguito alla vostra richiesta, ecco la nuova password per accedere: <b>$password</b>

<br/>
<br/>
questa mail e' stata generata in automatico, si prega di non rispondere.
