/*-------------------------
    Variables
--------------------------*/

$primary-color: #2196F3;
$hover-color: #ebebeb;

/*-------------------------
    Global Loader
--------------------------*/

html:not(.ismobile) .global-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
  }

  .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3000ms;
    animation-duration: 3000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  p {
    white-space: nowrap;
    position: relative;
    top: 50%;
    color: #CCC;
    width: 100%;
    text-align: center;
  }
}

html.ismobile .global-loader {
  display: none;
}


/*-------------------------
    Utility classes
--------------------------*/

.search-cursor {
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-no-shadow {
  box-shadow: 0 0px 0px !important;
}

.hover {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.hover:hover {
  background-color: $hover-color;
}

.animated-fast {
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
}


/*-------------------------
    Tables
--------------------------*/

.table-hover>tbody>tr {

}

.table-hover>tbody>tr:hover {
  background-color: $hover-color;
}

.table-hover>tbody>tr.selected {
  background-color: $primary-color;
  color: white;
}

.table-hover>tbody>tr.selected:hover {
  background-color: darken($primary-color, 10%)
}

.result-summary {
  margin: 30px;
}

/*-------------------------
    Forms
--------------------------*/

.form-group {
  .toggle-switch {
    margin-top: 9px;

    .ts-label {
      margin: 0px 0px 0px 10px
    }
  }
}

/*-------------------------
    Grids
--------------------------*/

$darken-value: 10%;

@for $i from 0 to 10 {
  .table-hover > tbody > tr.level-#{$i} {
    background-color: darken(#FFFFFF, $i * $darken-value);
  }

  .table-hover>tbody>tr:hover, .table-striped>tbody>tr.level-#{$i}:nth-of-type(odd) {
    background-color: darken(#f9f9f9, $darken-value * $i);
  }

  .table-hover > tbody > tr.level-#{$i}:hover {
    background-color: darken($hover-color, $i * $darken-value);
  }

  .table-hover > tbody > tr.level-#{$i}.selected:hover {
    background-color: darken($primary-color, 10% + $i * $darken-value)
  }

  .table-hover > tbody > tr.level-#{$i}.selected {
    background-color: darken($primary-color, $i * $darken-value);
    color: white;
  }
}

tr.collapsible {
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);

  .collapsed {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  .expanded {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}


/*-------------------------
    Select2
--------------------------*/

.select2-selection,
.select2-selection--multiple,
.select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border: 0px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;

  .select2-search__field {
    margin-top: 8px;
  }

  .select2-selection__rendered {
    padding-left: 0px;
  }
}

.select2-dropdown {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  margin-top: 1px;
  border: 0;
  top: 0;
  border-radius: 2px;
}

/*-------------------------
    Lookup
--------------------------*/

.lookup {
  background-color: #ffffff;

  .lookup-header {
    background-color: #FFFFFF;
    border-bottom: solid 1px #f0f0f0;
    height: 30px;
  }

  table {
    thead {
      th {
        background-color: #FFFFFF;
      }
    }

    td {
      background-color: #fafafa;
    }

    tr:first-child td {
      border-top: 0px;
    }

    tr:hover td {
      background-color: #f0f0f0;
    }

    th.actions, td.actions {
      width: 1%;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
      position: relative;

      .action {
        position: absolute;
        bottom: 3px;
      }
    }
  }
}

.table>tbody>tr:last-child>td, .table>tfoot>tr:last-child>td {
  padding-bottom: 10px;
}