@import "variables.scss";


/*-------------------------
    Global Loader
--------------------------*/

html:not(.ismobile) .global-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
  }

  .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3000ms;
    animation-duration: 3000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  p {
    white-space: nowrap;
    position: relative;
    top: 50%;
    color: #CCC;
    width: 100%;
    text-align: center;
  }
}

html.ismobile .global-loader {
  display: none;
}


/*-------------------------
    Utility classes
--------------------------*/

.search-cursor {
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-no-shadow {
  box-shadow: 0 0px 0px !important;
}

.hover {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.hover:hover {
  background-color: $hover-color !important;
}

.animated-fast {
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.card-header-inverse {
  background-color: $primary-color;

  h2 {
    color: $primary-color-text;
  }
}

/*-------------------------
    Tables
--------------------------*/

.table-hover>tbody>tr {

}

.table-hover>tbody>tr:hover {
  background-color: $hover-color;
}

.table-hover>tbody>tr.selected {
  background-color: $primary-color;
  color: white;
}

.table-hover>tbody>tr.selected:hover {
  background-color: darken($primary-color, 10%)
}

.result-summary {
  margin-bottom: 25px;
  font-size: .9rem;
  color: #9c9c9c;
}

/*-------------------------
    Forms
--------------------------*/

.form {

  .form-group {
    .toggle-switch {
      margin-top: 9px;

      .ts-label {
        margin: 0px 0px 0px 10px
      }
    }
  }

  .has-error {
    label {
      color: $error-color;
    }
  }

}

/*-------------------------
    Grids
--------------------------*/

$darken-value: 10%;

@for $i from 0 to 10 {
  .table-hover > tbody > tr.level-#{$i} {
    background-color: darken(#FFFFFF, $i * $darken-value);
  }

  .table-hover>tbody>tr:hover, .table-striped>tbody>tr.level-#{$i}:nth-of-type(odd) {
    background-color: darken(#f9f9f9, $darken-value * $i);
  }

  .table-hover > tbody > tr.level-#{$i}:hover {
    background-color: darken($hover-color, $i * $darken-value);
  }

  .table-hover > tbody > tr.level-#{$i}.selected:hover {
    background-color: darken($primary-color, 10% + $i * $darken-value)
  }

  .table-hover > tbody > tr.level-#{$i}.selected {
    background-color: darken($primary-color, $i * $darken-value);
    color: white;
  }
}

.grid {
  .table {
    thead {
      tr {
        th:first-child {
          border-radius: 3px 0px 0px 0px;      
        }

        th:last-child {
          border-radius: 0px 3px 0px 0px;      
        }
      }
    }
    border-radius: 3px 0px 0px 0px;        
  }
}

.grid .table>thead>tr>th.sorting_asc:after {
    content: '\f1cd';
}

.grid .table>thead>tr>th.sorting_asc:after, .grid .table>thead>tr>th.sorting_desc:after {
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.4rem;
}

.grid .table>thead>tr>th.sorting_desc:after {
    content: '\f1ce';
}
.grid .table>thead>tr>th.sorting_asc:after, .grid .table>thead>tr>th.sorting_desc:after {
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.4rem;
}

.grid .table>thead>tr>th:last-child {
  padding-right: 15px;
}

.grid .table>tbody>tr:last-child>td, .table>tfoot>tr:last-child>td {
  padding-bottom: 15px;
}

.grid .table.table-condensed>tbody>tr:last-child>td, .table.table-condensed>tfoot>tr:last-child>td {
  padding-bottom: 10px;
}

tr.collapsible {
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);

  .collapsed {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  .expanded {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.quick-search-container {

  .quick-search {
    border-bottom: 1px solid #eceff1;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;

    .quick-search-input-container {
      margin-left: 30px;

      input {
        border: 0px;
        width: 100%;
        height: 100%;
        font-weight: 500;
      }

    }

    i.zmdi {
      font-size: 20px;
    }


    &:after {
      right: 50%;
    }

    &:before {
        left: 50%;
    }

    &:after, &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        bottom: -1px;
        transition: width .5s ease;
        background-color: $primary-color;
    }

    &.quick-search__active {
      &:after {
        width: 50%;
      }

      &:before {
          width: 50%;
      }
    }
  }
}

.modal {
  .quick-search {
    margin-right: 0px !important;
  }
}

@media (max-width: 767px) {
  .quick-search-container {
    width: 100%;
  }
  .img-center-max-768 {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .width-20-min-768 {
    width: 20%;
  }
  .border-right-lightgray-min-768 {
    border-right: 1px solid #dbdbdb;
  }
  .padding-bottom-40-min-768 {
    padding-bottom: 40px;
  }
}

.grid-actions {
  width: 1%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  position: relative;

  .grid-actions-container {
    white-space: nowrap;
    position: absolute;
    right: 7px;
    margin-top: -4px;

    a.grid-action {
      display: inline-block;
      color: #5E5E5E;
      width: 25px;
      height: 25px;
      border-radius: 2px;
      font-size: 18px;
      text-align: center;
      line-height: 26px;
    }

    a.grid-action:hover {
      background-color: darken($hover-color, 10%);
    }
  }
}

.edit-text-cell {
  .form-control {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 18px;
  }
}

/*-------------------------
    Select2
--------------------------*/

.select2-selection,
.select2-selection--multiple,
.select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border: 0px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;

  .select2-search__field {
    margin-top: 8px;
  }

  .select2-selection__rendered {
    padding-left: 0px;
  }
}

.select2-dropdown {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  margin-top: 1px;
  border: 0;
  top: 0;
  border-radius: 2px;
}

/*-------------------------
    Lookup
--------------------------*/

.lookup {
  background-color: #ffffff;
  border: solid 1px $border-color;
  margin-bottom: 3px;

  .lookup-header {
    background-color: #FFFFFF;
    height: 30px;
    padding-left: 7px;
    cursor: pointer;
    position: relative;

    .placeholder {
      color: $placeholder-color
    }

    .actions {
      position: absolute;
      right: 10px;
      top: 0px;

      .actions__item {
        margin-right: -10px;
      }
    }
  }

  .lookup-header:hover {
    background-color: $hover-color;
  }

  table {
    /*
    thead {
      th {
        background-color: #FFFFFF;
      }
    }

    td {
      background-color: #fafafa;
    }

    tr:first-child td {
      border-top: 0px;
    }

    tr:hover td {
      background-color: #f0f0f0;
    }
    */

    margin-bottom: 0px;

    &:not(.table-bordered)>tbody:first-child td, &:not(.table-bordered)>tbody:first-child th, &:not(.table-bordered)>thead:first-child td, &:not(.table-bordered)>thead:first-child th {
      border-top: 1px solid #f2f4f5;
    }

    th.actions, td.actions {
      width: 1%;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
      position: relative;

      .action {
        position: absolute;
        bottom: 3px;
      }
    }
  }

  .lookup-current-value {
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-top: 5px;
  }
}


/*-------------------------
    input-file
--------------------------*/

.input-file {
  background-color: #ffffff;
  border: solid 1px $border-color;
  cursor: pointer;
  height: 30px;
  position: relative;
  overflow: hidden;

  .input-file-name {
    padding-left: 7px;
    padding-top: 6px;
    display: block;
  }

  .placeholder {
    color: $placeholder-color;
    padding-left: 7px;
    padding-top: 6px;
    display: block;
    cursor: pointer;
  }

  input[type=file] {
    position: absolute;
    height: 0%;
    width: 0%;
    top: -100%;
    left: 0px;
    opacity: 0;
  }
}

.input-file:hover {
  background-color: $hover-color;
}


/*-------------------------
    input-image
--------------------------*/

.input-image {
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;

  .img-responsive {
    border-radius: 0px;
  }

  .input-image-container {
    position: relative;
    display: block;

    .actions {
      position: absolute;
      top: 5px;
      right: 5px;

      a {
      }
    }
  }

  input[type=file] {
    position: absolute;
    height: 0%;
    width: 0%;
    top: -100%;
    left: 0px;
    opacity: 0;
  }
}

.input-image:hover {
}


/*-------------------------
    profile-box
--------------------------*/

.s-profile {
  position: relative;

  .cover {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 129px;
    position: absolute;
  }

  .sp-pic {
    position: relative;
  }
}

/*-------------------------
    forms areas
--------------------------*/

.area-no-card {

  position: relative;

  .area-no-card-header {

    .actions {
      position: absolute;
      right: 10px;
      top: 20px;
      z-index: 4;
    }

    h2 {
      margin: 0;
      line-height: 100%;
      font-size: 16px;
      font-weight: 400;
      padding: 24px 30px;
      color: #777;
    }
  }

  .area-no-card-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}



/*-------------------------
    Select form control
--------------------------*/

.bootstrap-select-container {
  
}

.has-error {
  .bootstrap-select {
    .btn-default {
      border-color: $error-color !important;
    }
  }
}


/*-------------------------
    Toggle switch inverse
--------------------------*/

.toggle-switch.toggle-switch-inverse:not([data-ts-color]) input:not(:disabled):checked + .ts-helper {
  background: $success-color;
}

.toggle-switch.toggle-switch-inverse .ts-helper {
  background-color: $background-color-2;
  -webkit-transition: background-color 0.28s;
  transition: background-color 0.28s;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-switch:not([data-ts-color]) input:not(:disabled):checked + .ts-helper:before {
  background-color: $background-color-1;
}

.form-group .toggle-switch .ts-label {
  color: $text-color-caption1-inverse;
}



/*-------------------------
    form spacer
--------------------------*/

.form-spacer-control {
  height: 60px;
}


/*---form bar primar color */
.form-group__bar:after, .form-group__bar:before {
    background-color: $primary-color;
}

/*-------------------------
    color picker
--------------------------*/

.cp-container input.cp-value {
  color: #000!important;
  background: 0 0!important;
}

/*************************
** Standard select
******************-*****/

.select:before {
  background-color: transparent !important;
}

.form-group.select-cell {
    margin-bottom: 0px;
}

.edit-text-cell {
    background-color: rgba(193, 193, 193, 0.52);
    max-width: 100px;
    height: 25px;
    padding: 3px 10px;
}

.color-white {
  color: white !important;
}

.zero-padding {
  padding-left: 0;
  padding-right: 0;
}

.zero-padding-left {
  padding-left: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.bgm-gray {
  background-color: #E6E6E6 !important;
  color: #9f9f9f !important;
}

.readOnlyImage {
  width: 240px;
  height: 240px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
}

.full-width {
  width: 100%;
}

.height-40 {
  height: 40px;
}

.buttonCheckbox {
  @extend .full-width;
  @extend .height-40;
}

.fs9{
  font-size: 9px;
}
.fs10{
  font-size: 10px;
}
.fs11{
  font-size: 11px;
}
.fs12{
  font-size: 12px;
}
.fs14{
  font-size: 14px;
}
.fs16{
  font-size: 16px;
}
.fs18{
  font-size: 18px;
}
.fs20{
  font-size: 20px;
}
.fs36{
  font-size: 36px;
}
.fs42{
  font-size: 42px;
}
.fs56 {
  font-size: 56px;
}
.fs72 {
  font-size: 72px;
}

.btn-actions-bar {
  text-align: right;

  .btn {
    margin-left: 5px;
  }
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 20);
      border-color: darken($primary-color, 20);
    }
}

.radio__label:after {
  background-color: $primary-color;
}

.radio__label:before {
}

.checkbox>input[type=checkbox]:checked~.checkbox__label:before, .checkbox>input[type=checkbox]:checked~.radio__label:before, .checkbox>input[type=radio]:checked~.checkbox__label:before, .checkbox>input[type=radio]:checked~.radio__label:before, .radio>input[type=checkbox]:checked~.checkbox__label:before, .radio>input[type=checkbox]:checked~.radio__label:before, .radio>input[type=radio]:checked~.checkbox__label:before, .radio>input[type=radio]:checked~.radio__label:before {
    border-color: $primary-color;
}

.form-group--float .form-control:focus~label {
    color: $label-color;
}

.checkbox>input[type=checkbox]:checked~.checkbox__label:before, .checkbox>input[type=radio]:checked~.checkbox__label:before, .radio>input[type=checkbox]:checked~.checkbox__label:before, .radio>input[type=radio]:checked~.checkbox__label:before {
    background-color: $primary-color;
}