/*-------------------------
    Variables
--------------------------*/

$primary-color: #2196F3;
$hover-color: #ebebeb;
$placeholder-color: #AEAEAE;
$border-color: #f0f0f0;
$border-radius: 3px;
$error-color: #f6675d;