<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

<display-name>Applica Framework Admin Application</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/admin-application.xml
            /WEB-INF/admin-security.xml
        </param-value>
    </context-param>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>framework-resources</filter-name>
        <filter-class>applica.framework.resources.ResourcesFilter</filter-class>
        <init-param>
            <param-name>resourceLoader</param-name>
            <param-value>class</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>framework-resources</filter-name>
        <url-pattern>/framework-resources/*</url-pattern>
    </filter-mapping>
    <!--XSS Filter Mapping-->
    <filter>
        <filter-name>XSS</filter-name>
        <filter-class>applica.framework.security.filters.CrossScriptingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XSS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileserver</servlet-name>
        <servlet-class>applica.framework.fileserver.servlets.FilesServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/Users/bimbobruno/Desktop/fileserver/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileserver</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>applica.framework.fileserver.servlets.ImagesServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/Users/bimbobruno/Desktop/fileserver/</param-value>
        </init-param>
        <init-param>
            <param-name>maxSize</param-name>
            <param-value>2048x1536</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
</web-app>
