Gentile <b>${name}</b>,
<br/>
Il codice di verifica per proseguire con il cambio della password e' il seguente:
<br/><br/>
<b>$code</b>

<br/>
<br/>
questa mail e' stata generata in automatico, si prega di non rispondere.

<br/>
<a href="www.applica.guru">Applica</a>
