.framework-grid table th a {
    color: #666666 !important
}

table thead .sorting { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_both.png') no-repeat center right; }
table thead .sorting_asc { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_asc.png') no-repeat center right; }
table thead .sorting_desc { background: url('../../framework-resources/admin/theme/vendor/plugins/datatables/media/images/sort_desc.png') no-repeat center right; }

.admin-form .panel .panel-footer {
    border: 0px;
}

#skin-toolbox .panel-heading .panel-title {
    padding-left: 0px;
}

#skin-toolbox .panel-heading {
    margin-right: 0px;
    width: auto;
    right: auto;
}